.edit_password_wrap{
    width: 400px;
    padding: 40px;
    color: #292929;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
    margin: 50px auto;
}

.edit_password_section_title{
    font-weight: 700;
    margin-bottom: 5px; 
}

.form_section{
    padding: 20px 0;
}

.edit_password_submit{
    width: 290px;
    padding: 11px 10px;
    font-size: 17px;
    line-height: 26px;
    background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}