
/* 공통사항 */
.container {
	width: 1136px;
	margin: 0 auto;
	max-width: 100%;
}

.plr10 {
	padding: 0 10px;
}

.mlr-10 {
    margin: 0 -10px;
    box-sizing: border-box;
}

.section_mt60 {
	margin-top: 60px;
}

.section_title {
	margin: 20px 0;
}

.section_title>h2 {
	font-size: 20px;
	font-weight: 700;
	color: #000;
}

.photo_rank {
	position: absolute;
	left: 15px;
	top: 0;
	font-weight: 700;
	color: #fff;
}

.photo_rank>span {
	display: block;
	width: 30px;
	height: 36px;
	padding-top: 8px;
	font-size: 15px;
	text-align: center;
	background-position: left 0 top -40px;
	background-image: url(/img/main_icons.png);
	background-size: 600px auto;
}

/* 레이아웃 */
#layout {
	position: relative;
}

/* main */
main {
	position: relative;
	margin-bottom: 60px;
}

/* 비주얼 */
.visual {
	padding-top: 30px;
}

.visual_wrap {
	display: flex;
	justify-content: space-between;
	position: relative;
	width: 100%;
}

.visual_left {
	flex: 0 0 75%;
	max-width: 75%;
	padding-right: 0px;
}

.visual_left_link {
	display: block;
	position: relative;
	height: 100%;
	overflow: hidden;
	border-radius: 6px;
}

.visual_left_link::before {
	content: "";
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	height: 230px;
	background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5));
	z-index: 1;
}

.visual_left_img_wrap {
	position: relative;
}

.visual_left_img_wrap::before {
	content: "";
	display: block;
	padding-bottom: 66.66667%;
}

.visual_left_img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 105%;
	transition: width 0.2s;
}

.visual_left_link:hover .visual_left_img {
	width: 110%;
}

.visual_left_content_wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 40px;
	color: #fff;
	z-index: 2;
}

.visual_left_title {
	width: 80%;
	max-height: 88px;
	margin: 8px 0 10px;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.38;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.visual_left_profile {
	width: 80%;
}

.visual_left_profile_img {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: -6px;
	border-radius: 100%;
}

.visual_left_profile_name {
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 80%;
	font-size: 13px;
	font-weight: 400;
}

.visual_left_more {
	position: absolute;
	right: 40px;
	bottom: 40px;
	width: 140px;
	font-size: 15px;
	border: 1px solid #fff;
	border-radius: 4px;
	font-weight: 700;
	padding: 18px 0 17px;
	margin: 0 0 0 20px;
	text-align: center;
	transition: background-color 0.1s, border 0.1s;
}

.visual_left_link:hover .visual_left_more {
	background-color: #35c5f0;
	border: 1px solid #35c5f0;
}

.visual_right {
	flex: 0 0 25%;
	max-width: 25%;
	margin-left: 20px;
	padding-left: 0px;
}

.visual_right_link {
	display: block;
	height: 100%;
	overflow: hidden;
	border-radius: 6px;
}

.visual_right_img_wrap {
	position: relative;
	height: 100%;
}

.visual_right_img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	transition: height 0.2s;
}

.visual_right_link:hover .visual_right_img {
	height: 105%;
}

/* 오늘의 스토리 */
.story {
	position: relative;
}

.story_box {
	display: flex;
	flex-wrap: wrap;
}

.story_box_list {
	flex: 0 0 25%;
	max-width: 25%;
	position: relative;
	width: 100%;
}

.story_box_link {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.story_box_img_wrap {
	position: relative;
	overflow: hidden;
	border-radius: 6px;
}

.story_box_img_wrap::before {
	content: "";
	display: block;
	padding-bottom: 66.66667%;
}

.story_box_img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	min-height: 100%;
	transition: width 0.2s;
}

.story_box_link:hover .story_box_img {
	width: 105%;
}

.story_video {
	display: inline-block;
	position: absolute;
	top: 12px;
	left: 12px;
	padding: 0 5px;
	line-height: 20px;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 4px;
}

.story_box_content_wrap {
	height: 122px;
	padding: 15px 10px;
}

.story_box_content_title {
	max-height: 38.5px;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.3;
	color: #000;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.story_box_content_profile {
	margin-top: 10px;
}

.story_box_profile_img {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: -6px;
	border-radius: 100%;
}

.story_box_profile_name {
	display: inline-block;
	width: 80%;
	font-size: 13px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.story_menu_wrap {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-radius: 6px;
	overflow: hidden;
}

.story_menu_link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 0 auto;
	margin: 0.5px 0;
	padding: 12.5px 10%;
	background-color: #f5f5f5;
	transition: background-color 0.1s;
}

.story_menu_link:hover {
	background-color: #ededed;
}

.story_menu_link>.description {
	font-size: 12px;
	margin-bottom: 10px;
	color: #757575;
}

.story_menu_link>.title {
	display: flex;
	font-size: 15px;
	font-weight: 700;
	color: #424242;
}

.story_menu_link>.title>.text {
	flex: 1 1 0;
}

.story_menu_link>.title>.arrow {
	width: 5px;
	height: 5px;
	border: 1px solid #757575;
	border-width: 1px 1px 0 0;
	transform: rotate(45deg);
}

/* 오늘의 인기 사진 */
.photo {
	position: relative;
}

.photo_more {
	position: absolute;
	right: 0;
	top: 0;
	color: #35c5f0;
	font-size: 15px;
	font-weight: 700;
	margin-top: 3px;
	cursor: pointer;
}

.photo_box {
	display: flex;
	flex-wrap: wrap;
}

.photo_box_list {
	flex: 0 0 25%;
	max-width: 25%;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.photo_box_link {
	position: relative;
}

.photo_box_img_wrap {
	position: relative;
	overflow: hidden;
	border-radius: 6px;
}

.photo_box_img_wrap::before {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.photo_box_img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	min-height: 100%;
	transition: width 0.2s;
}

.photo_box_link:hover .photo_box_img {
	width: 105%;
}

.photo_box_content_wrap {
	position: relative;
}

.photo_box_content_wrap::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 128px;
	background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.5));
	border-radius: 0 0 6px 6px;
}

.photo_box_content_profile {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px;
}

.photo_box_profile_img {
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: -6px;
	border-radius: 100%;
	border: 1px solid hsla(0, 0%, 100%, 0.5);
	background-color: #f5f5f5;
}

.photo_box_profile_name {
	display: inline-block;
	width: 80%;
	font-size: 13px;
	font-weight: 700;
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* footer */
footer {
	position: relative;
	width: 100%;
	height: 250px;
	background-color: #fafafa;
}

.houseparty {
    position: relative;
    margin-top: 15px;
}

/* 필터 */
.filter_wrap {
    position: relative;
    margin-bottom: 40px;
}

.menu {
    display: flex;
    padding: 5px 0;
}

.menu_list {
    margin: 0 2px;
}

.btn {
    padding: 7px 8px 6px;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #757575;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
}

.btn:hover {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.submenu {
    position: absolute;
    left: 3px;
    top: 40px;
    z-index: -1;
}

.menu_list:hover .submenu {
    z-index: 99;
}

.drop_down {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    margin-top: 17px;
}

.menu_list:hover .drop_down {
    visibility: visible;
    opacity: 1;
    transform: none;
    transition: opacity 0.5s, transform 0.5s;
}

.drop_down::after {
    display: block;
    content: "";
    position: absolute;
    left: 20px;
    border-style: solid;
    top: -8px;
    margin: 0 1px;
    border-width: 0 9px 9px;
    border-color: transparent transparent #fff;
}

.panel_wrap {
    margin: 0 -1px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 -1px 16px rgb(0 0 0 / 20%);
    overflow: hidden;
    white-space: nowrap;
}

.panel {
    position: relative;
    width: 200px;
    min-height: 50px;
    max-height: 425px;
}

.panel_btn {
    display: block;
    position: relative;
    width: 100%;
    padding: 15px;
    border: none;
    background: #fff;
    color: #424242;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.panel_btn.selected {
    color: #35c5f0;
    font-weight: 700;
}

.panel_btn:hover {
    background: #effbff;
}

/* 전체 게시물 카운트 */
.all_feed_count {
    margin-bottom: 10px;
}

/* 집들이,전문가집들이 리스트들 */
.houseparty_box {
    display: flex;
    flex-wrap: wrap;
}

.houseparty_box_list {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.box_padding {
    position: relative;
    text-align: center;
    padding-bottom: 30px;
}

.houseparty_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.houseparty_img_wrap {
    position: relative;
    padding-bottom: 66.66667%;
    overflow: hidden;
    border-radius: 8px;
    background-color: #ededed;
}

.houseparty_img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: width 0.2s;
}

.box_padding:hover .houseparty_img {
    width: 105%;
}


.houseparty_scrap {
    position: absolute;
    bottom: 12px;
    right: 12px;
    border: none;
    background: none;
    outline: none;
    font-size: 0;
    transition: opacity 0.1s;
    cursor: pointer;
    z-index: 2;
}

.houseparty_scrap:hover {
    opacity: 0.5;
}

.houseparty_scrap > .scrap_icon {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.scrap_icon > g {
    fill: #ffffff6b;	
}

.active_blue > g {
	fill: #35c5f0;
}

.houseparty_box_title {
    margin: 18px 0 8px;
    line-height: 24px;
    font-size: 17px;
    font-weight: 700;
}

.houseparty_writer {
    display: block;
    position: relative;
    margin: 8px 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    z-index: 2;
}

.houseparty_writer_img {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    border-radius: 100%;
    vertical-align: -3px;
}

.houseparty_box_status {
    margin: 8px 0 0;
    color: #757575;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
}

.status_count::before {
    display: inline-block;
    content: "·";
    color: rgb(117, 117, 117);
    margin: 0px 4px 0px 2px;
}

.photo_feed {
    position: relative;
    margin-top: 15px;
}

/* 필터 */
.filter_wrap {
    position: relative;
    margin-bottom: 40px;
}

.story.container.section_mt60 {
	margin-top: 15px;
}

/* photo_리스트들 */
.photo_box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.photo_box_list {
    flex: 0 0 25%;
    max-width: 25%;
}

.photo_box_list>.box_padding {
    padding-bottom: 50px;
    text-align: left;
}

.box_writer {
    display: flex;
    position: relative;
    min-height: 36px;
    padding: 0 0 0 48px;
}

.writer_content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: -5px;
    line-height: 19px;
}

.writer_link {
    opacity: 1;
    transition: opacity 0.1s;
}

.writer_link:hover {
    opacity: 0.5;
}

.writer_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.writer_name {
    color: #424242;
    font-weight: 500;
}

.writer_introduction {
    margin-top: 2px;
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.box_content {
    position: relative;
    margin-top: 10px;
}

.box_link {
    position: relative;
    cursor: pointer;
}

.photo_feed_img_wrap {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.photo_feed_img_wrap::before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.photo_feed_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100%;
    transition: width 0.2s;
}

.box_link:hover .photo_feed_img {
    width: 105%;
}

.img_view_count {
    position: absolute;
    right: 12px;
    bottom: 12px;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 4px rgb(0 0 0 / 50%);
    z-index: 1;
}

.user_text_wrap {
    margin-top: 15px;
}

.user_text {
    display: -webkit-box;
    height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    opacity: 1;
    transition: opacity 0.1s;
    font-weight: 700;
}

.box_link:hover .user_text {
    opacity: 0.5;
}

.util {
    display: flex;
    z-index: 2;
}

.util_icon {
    flex: 1;
    padding: 15px 0 15px;
    background: none;
    border: none;
    text-align: center;
    transition: opacity 0.1s;
    outline: none;
    cursor: pointer;
}

.util_icon:hover {
    opacity: 0.5;
}

.fIcon {
	fill: #fff;
    stroke: #424242;
    stroke-width: 1.1px;
    transition: fill 0.1s, stroke 0.1s;
    vertical-align: -7px;
}
.fIcon:hover {
	opacity: 0.5;
}

.sIcon {
	fill: #fff;
    stroke: #424242;
    stroke-width: 1.1px;
    transition: fill 0.1s, stroke 0.1s;
    vertical-align: -7px;
}
.sIcon:hover {
	opacity: 0.5;
}

.blue {
	fill: #35c5f0;
	color: #35c5f0;
	
}


#favoriteContainer {
    border: 1px solid #bcbec0;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0 0 1px #dcdedf;
    margin-bottom: 10px;
}

#favoriteContainer:hover {
	cursor: pointer;
}

#scrapContainer {
    border: 1px solid #bcbec0;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0 0 1px #dcdedf;
}

#scrapContainer {
	cursor: pointer;
}

.detail_util_icon_blue {
	fill: #35c5f0;
	stroke: #35c5f0;
    margin: 12px 0 0 0;
	
}

.detail_util_icon_white {
    fill: white;
    stroke: black;
    margin: 12px 0 0 0;
}

.icon_va7 {
    vertical-align: -7px;
}

.count {
    margin-left: 6px;
    font-size: 12px;
    color: #424242;
}

.photo_feed_comment_wrap {
    position: relative;
    min-height: 24px;
    margin-top: 10px;
    padding-left: 34px;
}

.photo_feed_comment {
    padding: 0 4px;
    margin: -4px;
    font-size: 15px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.comment_profile {
    display: inline;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.1s;
}

.comment_profile:hover {
    opacity: 0.5;
}

.comment_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.comment_link {
    opacity: 1;
    transition: opacity 0.1s;
}

.comment_link:hover {
    opacity: 0.5;
}

.comment_text {
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.tip {
    position: relative;
    margin-top: 15px;
}

/* 노하우 리스트들 */
.tip_box {
    display: flex;
    flex-wrap: wrap;
}

.tip_box_list {
    flex: 0 0 25%;
    max-width: 25%;
}

.tip_box_list>.box_padding {
    position: relative;
    margin: 10px 0 20px;
}

.tip_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.tip_img_wrap {
    position: relative;
    padding-bottom: 66.66667%;
    overflow: hidden;
    border-radius: 8px;
    background-color: #ededed;
}

.tip_img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: width 0.2s;
}

.box_padding:hover .tip_img {
    width: 105%;
}

.tip_scrap {
    position: absolute;
    bottom: 12px;
    right: 12px;
    border: none;
    background: none;
    outline: none;
    font-size: 0;
    transition: opacity 0.1s;
    cursor: pointer;
    z-index: 2;
}

.tip_scrap:hover {
    opacity: 0.5;
}

.tip_con {
    width: 100%;
    height: 100%;
    padding: 13px 42px 10px 4px;
    text-align: left;
}

.tip_con_title {
    height: auto;
    max-height: 38px;
    margin-bottom: 5px;
    line-height: 24px;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tip_con_author,
.tip_con_status {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #757575;
}

.status_count::before {
    display: inline-block;
    content: "·";
    color: rgb(117, 117, 117);
    margin: 0px 4px 0px 2px;
}

