

.nav_box{
    border-bottom: 1px solid #ededed;
    width: 100%;
}
.nav_warp{
    display: block;
    text-align: center;
}


.nav_item{
    display: inline-block;
    padding: 0 10px;
    font-weight: 700;
    position: relative;
    height: 60px;
    line-height: 60px;
}
.nav_item:hover{
    color: #35c5f0;
}

.user_mypage {
	display: flex;
}

.user_mypage> .main_container{
    margin-bottom: 40px;
}




.main_container{
    display: flex;
}

.user_profile{
    
    width: 240px;
    height: 500px;
    margin-top: 20px;
    padding: 30px 25px 0;
    border-radius: 4px;
    border: 1px solid #dadce0;
}


.user_nm{
	text-align: center;
}
.user_profile_link{
    display: flex;
}

.user_profile_link>div{
    padding: 10px
}

.link_item>div{
    text-align: center;
}

.user_profile_link{
    border-top: 1px solid #eaebef;
}

.link_item_title{
	display: inline-block;
	padding-top: 10px
}
.link_item_content{
	padding-top: 10px
}


/* 글쓴거 리스트들 */
.contents{
    width: 100%;
   
}

.post_list{
    padding: 10 10 30 10;
    margin-bottom: 60px;
    margin-left: 30px;
    position: relative;
    
}
.post_title{
    color: #000;
    font-weight: 700;
    position: relative;
    margin-bottom: 20px;
    padding-top:20px;
}
.post_item_box{
    width: 80%;
    padding: 80px 0;
    border: 1px dashed #dbdbdb;
    color: #757575;
    font-weight: 700;
    font-size: 13px;
    display: inline-grid;
}

.post_table_tr > th{
	padding:10px;
}

.post_table_tr > td{
	text-align:center;
	padding:10px;
}

