@charset "utf-8";


/* 공통사항 */
.container {
    width: 1136px;
    margin: 0 auto;
    max-width: 100%;
}

.plr10 {
    padding: 0 10px;
}

.mlr-10 {
    margin: 0 -10px;
}

/* 레이아웃 */
#layout {
    position: relative;
}

/* main */
main {
    position: relative;
}

.tip {
    position: relative;
    margin-top: 15px;
}

/* 필터 */
.filter_wrap {
    position: relative;
    margin-bottom: 40px;
}

.filter {
}

.menu {
    display: flex;
    padding: 5px 0;
}

.menu_list {
    margin: 0 2px;
}

.btn {
    padding: 7px 8px 6px;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #757575;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    border-radius: 4px;
    outline: 0;
    cursor: pointer;
}

.btn:hover {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.submenu {
    position: absolute;
    left: 3px;
    top: 40px;
    z-index: -1;
}

.menu_list:hover .submenu {
    z-index: 99;
}

.drop_down {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    margin-top: 17px;
}

.menu_list:hover .drop_down {
    visibility: visible;
    opacity: 1;
    transform: none;
    transition: opacity 0.5s, transform 0.5s;
}

.drop_down::after {
    display: block;
    content: "";
    position: absolute;
    left: 20px;
    border-style: solid;
    top: -8px;
    margin: 0 1px;
    border-width: 0 9px 9px;
    border-color: transparent transparent #fff;
}

.panel_wrap {
    margin: 0 -1px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 -1px 16px rgb(0 0 0 / 20%);
    overflow: hidden;
    white-space: nowrap;
}

.panel {
    position: relative;
    width: 200px;
    min-height: 50px;
    max-height: 425px;
}

.panel_btn {
    display: block;
    position: relative;
    width: 100%;
    padding: 15px;
    border: none;
    background: #fff;
    color: #424242;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.panel_btn.selected {
    color: #35c5f0;
    font-weight: 700;
}

.panel_btn:hover {
    background: #effbff;
}

/* 노하우 리스트들 */
.tip_box {
    display: flex;
    flex-wrap: wrap;
}

.tip_box_list {
    flex: 0 0 25%;
    max-width: 25%;
}

.box_padding {
    position: relative;
    margin: 10px 0 20px;
}

.tip_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.tip_img_wrap {
    position: relative;
    padding-bottom: 66.66667%;
    overflow: hidden;
    border-radius: 8px;
    background-color: #ededed;
}

.tip_img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: width 0.2s;
}

.box_padding:hover .tip_img {
    width: 105%;
}

.tip_new {
    position: absolute;
    top: 12px;
    left: 12px;
}

.tip_new > svg rect {
    fill: #f77;
}

.tip_scrap {
    position: absolute;
    bottom: 12px;
    right: 12px;
    border: none;
    background: none;
    outline: none;
    font-size: 0;
    transition: opacity 0.1s;
    cursor: pointer;
    z-index: 2;
}

.tip_scrap:hover {
    opacity: 0.5;
}

.tip_con {
    width: 100%;
    height: 100%;
    padding: 13px 42px 10px 4px;
}

.tip_con_title {
    height: auto;
    max-height: 38px;
    margin-bottom: 5px;
    line-height: 24px;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.tip_con_author,
.tip_con_status {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #757575;
}

.status_count::before {
    display: inline-block;
    content: "·";
    color: rgb(117, 117, 117);
    margin: 0px 4px 0px 2px;
}

/* footer */
footer {
    position: relative;
    height: 281px;
    background-color: #fafafa;
}
