.write-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-form-title {
    display: flex;
    width: 900px;
    height: 40px;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 5px;
}
.input-form-title>input {
    width: 100%;
    padding: 0px 10px;
    border: none; 
    outline: none;
    font-size: 25px;
    font-weight: 600;
}

.input-form-title>input::placeholder {
    color: #ccc;
}

.ck.ck-editor__main>.ck-editor__editable {
    width: 900px;
    height: 600px;
}


.thumbImg-container {
	margin: 20px auto;
	width: 500px;
	height: 350px;
	border-bottom: 1px solid rgb(130 224 250);
	text-align: center;

}
.thumbImg {
    display: flex;
    align-items: center;
	width: 500px;
	height: 300px;
	overflow: hidden;
	box-shadow: 0 0 0 3px rgb(130 224 250 / 50%);
}
.thumbImg img {
	width: 500px;
}

#file {
	margin-top: 13px;
}

.writeBtn {
    width: 900px;
    height: 40px;
    color: #fff;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    background-color: #35c5f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 15px 0 50px;
}

.writeBtn:hover {
	transition: .2s ease;
	background-color: #09addb;
}

