<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.ohouse.common.CommonMapper">
	<select id="selMenuList" resultType="MenuEntity">
		SELECT menu_typ, menu_address, menu_nm
		FROM menu
		WHERE menu_orderby
	</select>
	
	<select id="selSubmenuList" resultType="MenuEntity">
		SELECT A.menu_typ, A.menu_address, A.menu_nm, B.submenu_typ, B.submenu_address, B.submenu_nm
		FROM menu A
		LEFT JOIN submenu B
		ON A.menu_typ = B.menu_typ
		WHERE B.submenu_orderby
	</select>

</mapper>