<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.ohouse.community.CommunityMapper">

	<insert id="insBoard" useGeneratedKeys="true" keyProperty="iBoard">
		INSERT INTO cm_board
		(i_user, typ, sec_typ, seq, title, ctnt, board_img)
		VALUES
		(#{iUser}, #{typ}, #{secTyp}
		, (SELECT IFNULL(MAX(seq), 0) + 1 FROM cm_board b WHERE typ = #{typ} AND sec_typ = #{secTyp})
		, #{title}, #{ctnt}, #{boardImg})
	</insert>
	
	<insert id="insBoardImg">
		INSERT INTO cm_photo
		(i_board, img_seq, community_img)
		VALUES
		(#{iBoard}, (SELECT IFNULL(MAX(img_seq), 0) + 1 FROM cm_photo b), #{communityImg}) 
	</insert>
	
	<select id="selCmBoard" resultType="CommunityDTO">
		SELECT 
		A.i_board, A.i_user, A.title, A.ctnt, A.r_dt, A.hits, A.board_Img, B.nm, B.profile_img
		, IFNULL(C.favorite_cnt, 0) AS favorite_cnt
		, IFNULL(D.scrap_cnt, 0) AS scrap_cnt
		, IFNULL(E.cmt_cnt, 0) AS cmt_cnt
		FROM cm_board A
		LEFT JOIN t_user B 
		ON A.i_user = B.i_user
		
		LEFT JOIN (
			SELECT i_board, COUNT(i_board)  AS favorite_cnt
			FROM cm_favorite
			GROUP BY i_board
		) C 
		ON A.i_board = C.i_board
		
		LEFT JOIN (
			SELECT i_board, COUNT(i_board)  AS scrap_cnt
			FROM cm_favorite
			GROUP BY i_board
		) D
		ON A.i_board = D.i_board
		
		LEFT JOIN (
			SELECT i_board, COUNT(i_board)  AS cmt_cnt
			FROM cm_cmt
			GROUP BY i_board
		) E
		ON A.i_board = E.i_board
		
		WHERE A.i_board = #{iBoard}
	</select>
	
	<select id="selCmBoardList" resultType="CommunityDTO">
		SELECT 
		A.i_board, A.i_user, A.title, A.ctnt, A.r_dt, A.hits, A.board_Img, B.nm, B.profile_img
		, IFNULL(C.favorite_cnt, 0) AS favorite_cnt
		, IFNULL(D.scrap_cnt, 0) AS scrap_cnt
		, IFNULL(E.cmt_cnt, 0) AS cmt_cnt
		FROM cm_board A
		LEFT JOIN t_user B 
		ON A.i_user = B.i_user
		
		LEFT JOIN (
			SELECT i_board, COUNT(i_board)  AS favorite_cnt
			FROM cm_favorite
			GROUP BY i_board
		) C 
		ON A.i_board = C.i_board
		
		LEFT JOIN (
			SELECT i_board, COUNT(i_board)  AS scrap_cnt
			FROM cm_favorite
			GROUP BY i_board
		) D
		ON A.i_board = D.i_board
		
		LEFT JOIN (
			SELECT i_board, COUNT(i_board)  AS cmt_cnt
			FROM cm_cmt
			GROUP BY i_board
		) E
		ON A.i_board = E.i_board
		
		WHERE typ = #{typ} AND sec_typ = #{secTyp}
	</select>
	
	<update id="updCmBoard">
		UPDATE cm_board
		SET title = #{title}
		, ctnt = #{ctnt}
		<if test="boardImg != null">
			, board_img = #{boardImg}
		</if>
		WHERE i_board = #{iBoard}
		AND i_user = #{iUser}
	</update>
	
	<delete id="delCmBoard">
		DELETE FROM cm_board
		WHERE i_board = #{iBoard}
		AND i_user = #{iUser}
	</delete>	
	
	<!-- /////////////////////////// CMT /////////////////////////// -->
	
	<insert id="insCmt">
		INSERT INTO cm_cmt
		( cmt_group, i_board, i_user, ctnt )
		VALUES
		( IFNULL(MAX(#{cmtGroup}), 0) + 1, #{iBoard}, #{iUser}, #{ctnt} )
	</insert>
	
</mapper>