<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.ohouse.community.CommunityMapper">
	<insert id="insBoard" useGeneratedKeys="true" keyProperty="iBoard">
		INSERT INTO cm_board
		(i_user, typ, sec_typ, seq, title, ctnt, board_img)
		SELECT #{iUser}, #{typ}, #{secTyp}, IFNULL(MAX(seq), 0) + 1, #{title}, #{ctnt}, #{boardImg}
		FROM cm_board
		WHERE typ = #{typ} AND sec_typ = #{secTyp};
	</insert>
	
	<update id="updBoard">
		UPDATE cm_board
		SET title = #{title}
		, ctnt = #{ctnt}
		WHERE i_board = #{i_board}
		AND i_user = #{i_user}
	</update>
	
	<delete id="delBoard">
		DELETE FROM cm_board
		WHERE i_board = #{i_board}
		AND i_user = #{i_user}
	</delete>
</mapper>