<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.ohouse.store.StoreMapper">

	<insert id="insPdBoard" useGeneratedKeys="true" keyProperty="iProduct">
		INSERT INTO pd_board
		(	i_user
			, category
			, product_seq
			, product_title
			, product_ctnt
			, product_nm
			, brand
			, price
			, sales
			, final_price	)
		VALUES
		(	#{iUser}
			, #{category}
			, (SELECT IFNULL(MAX(product_seq), 0) + 1 FROM pd_board b WHERE category = #{category})
			, #{productTitle}
			, #{productCtnt}
			, #{productNm}
			, #{brand}
			, #{price}
			, #{sales}
			, #{price}-(#{price} * (#{sales}/100))	)
	</insert>
	
	<select id="selPdCategoryList" resultType="StoreCategoryEntity">
		SELECT * FROM pd_category
	</select>
	
	<select id="selPdCategory" resultType="StoreCategoryEntity">
		SELECT * FROM pd_category
		WHERE i_category = #{iCategory}
	</select>

	<select id="selPdMaxPageNum" resultType="_int">
		SELECT CEIL(COUNT(i_product) / #{recordCntPerPage}) FROM pd_board
		WHERE category = #{category}
	</select>

	<select id="selPdBoard" resultType="StoreDTO">
		SELECT
			A.i_product
			, A.category
			, A.product_seq
			, A.product_title
			, A.product_ctnt
			, A.product_nm
			, A.brand
			, A.price
			, A.sales
			, A.final_price
			, A.product_dt
			, A.i_user
			, B.nm
			, C.star_rt
			, IFNULL(C.review_cnt, 0) AS review_cnt
		FROM pd_board A

		LEFT JOIN t_user B
		ON A.i_user = B.i_user

		LEFT JOIN (
			SELECT
				i_product
				, COUNT(i_product) AS review_cnt
				, star_rt
			FROM order_review
			GROUP BY i_product
		) C
		ON A.i_product = C.i_product

		WHERE A.i_product = #{iProduct} AND A.category = #{category}
	</select>

	<select id="selPdBoardList" resultType="StoreDTO">
		SELECT
			A.i_product
			, A.category
			, A.product_seq
			, A.product_title
			, A.product_ctnt
			, A.product_nm
			, A.brand
			, A.price
			, A.sales
			, A.final_price
			, A.product_dt
			, B.i_user
			, B.nm
			, C.pd_img
			, D.star_rt
			, IFNULL((SELECT COUNT(1) FROM pd_board WHERE category = A.category), 0) AS product_cnt
			, IFNULL(D.review_cnt, 0) AS review_cnt
			, IFNULL((SELECT COUNT(1) FROM pd_scrap E WHERE E.i_product = A.i_product AND E.i_user = #{iUser}), 0)  AS scrap_chk
		FROM pd_board A

		LEFT JOIN t_user B
		ON A.i_user = B.i_user

		LEFT JOIN (
			SELECT *
			FROM pd_photo
			WHERE pdimg_seq = 1
		) C
		ON A.i_product = C.i_product

		LEFT JOIN (
			SELECT
				i_product
				, COUNT(i_product) AS review_cnt
				, star_rt
			FROM order_review
			GROUP BY i_product
		) D
		ON A.i_product = D.i_product

		WHERE A.category = #{category}
		ORDER BY A.product_dt DESC
		LIMIT #{sIdx}, #{recordCntPerPage}
	</select>
	
	<select id="selPdSearchList" resultType="StoreDTO">
		SELECT
			A.i_product
			, A.category
			, A.product_seq
			, A.product_title
			, A.product_ctnt
			, A.product_nm
			, A.brand
			, A.price
			, A.sales
			, A.final_price
			, A.product_dt
			, B.i_user
			, B.nm
			, C.pd_img
			, D.star_rt
			, IFNULL((SELECT COUNT(1) FROM pd_board WHERE category = A.category), 0) AS product_cnt
			, IFNULL(D.review_cnt, 0) AS review_cnt
		FROM pd_board A
		
		LEFT JOIN t_user B
		ON A.i_user = B.i_user
		
		LEFT JOIN (
			SELECT *
			FROM pd_photo
			WHERE pdimg_seq = 1
		) C
		ON A.i_product = C.i_product
		
		LEFT JOIN (
			SELECT
				i_product
				, COUNT(i_product) AS review_cnt
				, star_rt
			FROM order_review
			GROUP BY i_product
		) D
		ON A.i_product = D.i_product
		
		WHERE product_title LIKE CONCAT('%', #{searchText}, '%')
		ORDER BY product_dt DESC
		<if test="recordCntPerPage > 0">
			LIMIT #{sIdx}, #{recordCntPerPage}
		</if>
	</select>
	
	<select id="selPdBoardSales" resultType="StoreDTO">
	SELECT
		A.i_product
		, A.category
		, A.product_title
		, A.product_nm
		, A.brand
		, A.price
		, A.sales
		, A.final_price
		, A.product_dt
		, A.i_user
		, B.nm
		, C.star_rt
		, IFNULL(C.review_cnt, 0) AS review_cnt
		, D.pd_img
		, IFNULL((SELECT COUNT(1) FROM pd_scrap E WHERE E.i_product = A.i_product AND E.i_user = #{iUser}), 0)  AS scrap_chk
	FROM pd_board A
	
	LEFT JOIN t_user B
	ON A.i_user = B.i_user
	
	LEFT JOIN (
		SELECT
			i_product
			, COUNT(i_product) AS review_cnt
			, star_rt
		FROM order_review
		GROUP BY i_product
	) C
	ON A.i_product = C.i_product
	
	LEFT JOIN (
			SELECT *
			FROM pd_photo
			WHERE pdimg_seq = 1
		) D
	ON A.i_product = D.i_product
	<if test="category > 0">
		WHERE category = #{category}
	</if>
	ORDER BY sales DESC
	LIMIT #{sIdx}, #{recordCntPerPage}
	</select>

	<update id="updPdBoard">
		UPDATE pd_board
		SET
			product_title = #{productTitle}
			, product_ctnt = #{productCtnt}
			, product_nm = #{productNm}
			, price = #{price}
			, sales = #{sales}
			, final_price = #{price}-(#{price} * ((#{sales}/100)))
		WHERE i_product = #{iProduct} AND i_user = #{iUser}
	</update>

	<delete id="delPdBoard">
		DELETE FROM pd_board
		WHERE i_product = #{iProduct}
		AND i_user = #{iUser}
	</delete>


	<!-- /////////////////////////// 사진 /////////////////////////// -->
	<insert id="insPdPhoto"> <!-- 상품 대표이미지 -->
		INSERT INTO pd_photo
		(	i_product
			, pdimg_seq
			, pd_img	)
		VALUES
		(	#{iProduct}
			, (SELECT IFNULL(MAX(pdimg_seq), 0) + 1 FROM pd_photo b WHERE i_product = #{iProduct})
			, #{pdImg}	)
	</insert>

	<insert id="insPdSubPhoto"> <!-- 본문에있는 이미지 -->
		INSERT INTO pdsub_photo
		(	i_product
			, pdsub_seq
			, pdsub_img	)
		VALUES
		(	#{iProduct}
			, (SELECT IFNULL(MAX(pdsub_seq), 0) + 1 FROM pdsub_photo b WHERE i_product = #{iProduct})
			, #{pdsubImg}	)
	</insert>
	
	<select id="selPdPhotoList" resultType="StorePhotoEntity"> <!-- 상품사진리스트 불러오기 -->
		SELECT 
			i_product
			,pd_img
		FROM pd_photo
		WHERE i_product = #{iProduct}
	</select>
	
	<delete id="delPdPhoto">	<!-- 본문대표사진 -->
		DELETE FROM pd_photo
		WHERE i_product = #{iProduct};
	</delete>
	
	<delete id="delPdSubPhoto">	<!-- 본문내용사진 -->
		DELETE FROM pdsub_photo
		WHERE i_product = #{iProduct};
	</delete>
	
	<!-- /////////////////////////// 스크랩 /////////////////////////// -->
	<insert id="insPdScrap">
		INSERT INTO pd_scrap
		(i_product, i_user)
		VALUES
		(#{iProduct}, #{iUser})
	</insert>

	<select id="selPdScrap" resultType="_int">
		SELECT COUNT(i_product) 
		FROM pd_scrap
		WHERE i_product = #{iProduct} AND i_user = #{iUser}
	</select>

	<delete id="delPdScrap">
		DELETE FROM pd_scrap
		WHERE i_product = #{iProduct} AND i_user = #{iUser}
	</delete>
	
	<!-- /////////////////////////// 카트 /////////////////////////// -->
	<insert id="insCart">
		INSERT INTO cart 
		(i_product, i_user)
		VALUES
		(#{iProduct}, #{iUser})
	</insert>
	
	<update id="updCart">
		UPDATE cart
		SET cart_count = cart_count + 1
		WHERE i_product = #{iProduct} AND i_user = #{iUser}
	</update>
	
</mapper>