<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.ohouse.user.UserMapper">

	<insert id="insUser">
		INSERT INTO t_user 
		(email_id, user_pw, nm)
		VALUES
		(#{emailId}, #{userPw}, #{nm})
	</insert>
	
	<select id="selUser" resultType="UserDTO">
		SELECT * FROM t_user 
		<where>
			<if test="iUser > 0">
				i_user = #{iUser}
			</if>
				or email_id= #{emailId}
		</where>	 

	</select>
	
	<update id="updUser">
		UPDATE t_user 
		set
			nm = #{nm}
			,gender=#{gender}
			
			<if test="ph != null">
				,ph = #{ph}
			</if>
			,profile_img = #{profileImg}
		
		where i_user=#{iUser} 		
	</update>
	
	
	<update id="changePw">
		update t_user
		set
			user_pw = #{userPw}
		where
			i_user=#{iUser}
		
	</update>
	<delete id="delUser">
		DELETE from t_user
		where i_user = #{iUser}
	</delete>
	
	<!-- 회원가입 중복 체크 -->	
	<select id="emailIdChk" resultType="UserEntity">
		SELECT email_id
		FROM t_user
		WHERE email_id = #{emailId}
	</select>
	
	<select id="nmChk" resultType="UserEntity">
		SELECT nm
		FROM t_user
		WHERE nm = #{nm}
	</select>

</mapper>