html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;
    vertical-align: baseline; list-style: none; 
    text-decoration: none; box-sizing: border-box; 
}

a {
    color: #424242;
    text-decoration: none;
}


img {
    border: 0;
    vertical-align: middle;
}

/* ----------------- 헤더 메뉴바 시작---------------------*/
#header-container {     /* 헤더 컨테이너 */
    width: 100%;
	height: 81px;
}

.menu-layout {          
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ededed;
    z-index: 10; 
    top: 0%;
    left: 0%;
    justify-content: center;
}
.main-menubar{
    display: flex;
    margin: 0 auto;
    align-items: center; 
    width: 1136px;
   
}

.main-menubar .logo {	/* 메인로고 */
    margin-right: 20px;
}

.main-menubar .logo img {     
    width: 120px;
}


/* 메뉴시작 */
.nav-menu {             
    display: flex;
    width: 300px;
}

.nav-menu a {      
    display: flex;
    align-items: center;   
    height: 81px;
    margin: 0 8px;
    padding: 0 8px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: #424242;
    cursor: pointer;
}

.nav-menu a:hover {     
    color: #35c5f0;
}

.nav-menu a:hover+.sub-menu-layout {     
    visibility: visible;
    color: #35c5f0;
}

/* 서브 메뉴바 시작 */
.sub-menu-layout {
    visibility: hidden;
    display: flex;
    position: absolute;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ededed;
    z-index: 10;
    top: 80px;
    left: 0%;
    justify-content: center;
    background-color: #fff;
}

.sub-menu-layout:hover {
    visibility: visible;
}

.sub-menubar {
    position: absolute;
    display: flex;
    padding: 0px 153px;
    margin: 0 auto;
    width: 1160px;
    height: 50px;
}

.sub-menu-item {
    display: flex;
    align-items: center;
}
.sub-menu-item_li {
    font-size: 15px;
    line-height: 23px;
    color: #424242;
    height: 50px;
}
.sub-menubar .sub-menu-item .sub-menu-item_li a {
    height: 50px;
    margin: 0 4px;
    padding: 0 8px;
    font-size: 15px;
    font-weight: 700;
    color: #424242;
    cursor: pointer;
}

.sub-menubar .sub-menu-item .sub-menu-item_li a:hover {
    color: #35c5f0;
}

/* 서브 메뉴바 끝 */

.selectedBoard { /* 선택된 메뉴 이름색변경 */
	color: #35c5f0;;
}

/* 메뉴 끝 */

/* 검색,카트 */
.nav-right {            
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(255, 255, 255);
    width: 900px;
    

}
/* 카트 시작*/
.cart-menu {           
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.cart-menu:hover {
    background-color: #35c5f0;
    border-radius: 50%;
}


.cart-menu:hover .cart-icon {
   color: white;
}

.cart-icon {
    color: #aaa;
}

.cart-icon:hover {      
    color: white;
}
/* 카트 끝*/

/* 검색 시작*/
.has-search .form-control {  
    width: 266px;
    height: 40px;
    color: #000;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding-left: 40px;
    margin-right: 15px;
    outline: 0;
}

.has-search .form-control:hover {
    background-color: rgba(128, 128, 128, 0.04);
}

.has-search .form-control-feedback {    
    position: absolute;
    z-index: 2;
    display: block;
    width: 45px;
    line-height: 38px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
/* 검색 끝 */

 /* 로그인, 회원가입 시작 */
.nav-login-item {      
    position: relative;
    display: inline-block;
    margin: 0 9px 0 8px;
    color: #757575;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

.nav-login-item:after  {
    content: "|";
    font-size: 12px;
    font-weight: 200;
    position: inherit;
    left: 11px;
    bottom: 2px;
  }
.nav-login-item:last-child:after {
    content: "";
}

.nav-login-item:hover {    
    color: #35c5f0;
}
 /* 로그인, 회원가입 끝 */

/* 글쓰기 시작 */
.nav-write-btn {    
    width: 100px;
    height: 40px;
    display: inline-block;
    margin-left:13px;
    border: none;
    background: none;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    background-color: #35c5f0;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
}

.nav-write-btn-arrow {
    font-size: 11px;
    padding-left: 7px;
    
}

.nav-write-btn:hover {  
    background-color: #09addb;
}
/* 글쓰기 끝 */




/* ----------------- 헤더 메뉴바 끝---------------------*/


/* ----------------- 로그인페이지 시작---------------------*/
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form {
    width: 300px;
    padding: 40px 0px;
    text-align: center;
    position: absolute;
   	top: 20%;
}
.login-form-header {
    display: block;
    margin: 0 0 30px;
}

.input-login-form {
    width: 100%;
    height:50px;
    display: block;
    margin: 0;
    font-weight: 700;
    font-size: 15px;
    line-height: 50px;
    color: #424242;
    border: 1px solid #dadada;
    padding: 0 15px;
    box-sizing: border-box;
}

.input-login-form.input-login-form-email {
    border-bottom: 0px;
    border-radius: 4px 4px 0 0;
}

.input-login-form.input-login-form-email:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(130, 224, 250, 0.5);
    position: relative;
    z-index: 1;
    transition: .2s ease;
}



.input-login-form.input-login-form-password {
    border-radius: 0 0 4px 4px;
}

.input-login-form.input-login-form-password:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(130, 224, 250, 0.5);
    transition: .2s ease;
}

.input-login-form.input-login-form-btn {
    margin: 20px 0;
    font-size: 17px;
    line-height: 1.41;
    color: #fff;
    background-color: #35c5f0;
    border: 0;
    border-radius: 4px 4px;
    outline: 0;

}

.input-login-form.input-login-form-btn:hover {
    cursor: pointer;
    background-color: #09addb;
    transition: .2s ease;
}

.sign-in-form {
    margin: 20px 0;
    color: #424242;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.4;
    text-align: -webkit-center;
}

.sign-in-form.sign-in-form-resetpw {
    padding: 3px 5px;
    margin: -3px 10px;
}

.sign-in-form.sign-in-form-resetpw:hover {
    text-decoration: underline;
}

.sign-in-form.sign-in-form-join {
    padding: 3px 5px;
    margin: -3px 10px;
}

.sign-in-form.sign-in-form-join:hover {
    text-decoration: underline;
}

.guest-order-btn {
    display: block;
    width: 250px;
    margin: 30px 0 20px;
    padding: 15px 0;
    background: none;
    border: none;
    outline: none;
    color: #424242;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.4;
    border-top: 1px solid #dadada;
}

.sign-in-form .guest-order-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* ----------------- 로그인페이지 끝---------------------*/

/* ----------------- 회원가입페이지 시작---------------------*/
.join-container {
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    width: 1136px;
    max-width: 100%;
    min-height: 1px;
}

.join-container .join-container-logo {
    width: 88px;
    height: 31px;
    position: relative;
    left: 50px;
}

.join-form {
    width: 360px;
    margin: 0 auto;
    padding: 60px 0;
}

.join-form-title {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 25px;
}

.join-form-label {
    margin: 0 0 12px;
    font-size: 15px;
    font-weight: 700;
    color: #292929;
}

.join-form-label-contents {
    margin: 0 0 10px;
    font-size: 12px;
    color: #757575;
    line-height: 1.4;
}
    /* 이메일 입력 시작 */
.join-form-email-input {
    width: 47%;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 20px;
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #424242;
     box-sizing: border-box;
}

.join-form-email-input::placeholder {
    color: rgb(192, 192, 192);
}

.join-form-email-input:hover {
    border: 1px solid #aaa;
    background-color: #dadada17;
    transition: .2s ease;
}

.join-form-email-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(130, 224, 250, 0.5);
}

.join-form-email-separator {
    text-align: center;
    line-height: 40px;
    color: #dbdbdb;
    margin: -2.9px;
}

#join-form-email-emailType {
    width: 47%;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 20px;
    border: 1px solid #dadada;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #424242;
}



#join-form-email-emailType:hover {
    border: 1px solid #aaa;
    background-color: #dadada17;
    transition: .2s ease;
}

#join-form-email-emailType:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(130, 224, 250, 0.5);
}
    /* 이메일 입력 끝 */
.join-form-input {
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    margin: 0 0 20px;
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #424242;
    box-sizing: border-box;
}

.join-form-input::placeholder {
    color: rgb(192, 192, 192);
}

.join-form-input:hover {
    border: 1px solid #aaa;
    background-color: #dadada17;
    transition: .2s ease;
}

.join-form-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(130, 224, 250, 0.5);
}

.join-form-agree {
    width: 100%;
    height: 240px;
    margin: 10px 0 0;
    border: 1px solid #dbdbdb;
    align-items: center;
    padding: 23px 23px 6px 16px;
    box-sizing: border-box;
}
.form-all-check-label {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed;
    padding-bottom: 18px;
    margin-bottom: 16px;
}

.form-check-label {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.form-check-label-box {
    cursor: pointer;
    height: 22px;
    width: 22px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 10px;
}

.join-form-all-check-contents {
    font-weight: 700;
    color: #424242;
    font-size: 14px;
}

.join-form-check-contents {
    font-weight: 500;
    color: #424242;
    font-size: 14px;
    letter-spacing: -1px;
}

.join-form-check-contents-a {
    color: #424242;
    text-decoration: underline;
}

.join-form-check-contents-required {
    color: #35c5f0;
    font-size: 12px;
    margin-left: 4px;
    font-weight: 600;
}

.join-form-check-contents-select {
    color: #aaa;
    font-size: 12px;
    margin-left: 4px;
    font-weight: 600;
}

.input-join-form-btn {
    width: 100%;
    height: 77px;
    margin: 20px 0;
    font-size: 17px;
    line-height: 1.41;
    color: #fff;
    background-color: #35c5f0;
    border: 0;
    border-radius: 4px 4px;
    outline: 0;
    font-weight: 700;
}

.input-join-form-btn:hover {
    cursor: pointer;
    background-color: #09addb;
    transition: .2s ease;
}

.user-sign-page {
    color: #424242;
    font-size: 15px;
    text-align: center;
}

/* ----------------- 회원가입페이지 끝---------------------*/

